html {
  height:100%;
}

body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  font-size: 20px;
}

.bg {
  animation:slide 3.5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #5c4 50%, #04f 50%);
  bottom:0;
  left:-50%;
  opacity:.3;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:4.5s;
}

.content {
  background-color:rgba(255,255,255,.9);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

input{
  margin: 10px;
}

button{
  width: 150px;
  font-size: 20px;
}


input{
  font-size: 18px;
  padding: 5px;
}

input:focus{
  font-size: 18px;
  background-color: rgba(255, 187, 0, 0.3);
}

input[type=submit]{
  width: 150px;
  font-size: 20px;
}
